<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-6 offset-3">
    <form action="/submit" method="post">
      <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example">
          <option value="Title">Title</option>
          <option value="Date">Date</option>
          <option value="Rating">Rating</option>
        </select>
        <button
          class="btn btn-outline-secondary"
          type="submit"
          id="button-addon2"
        >
          Sort
        </button>
      </div>
    </form>
  </div>
</div>

<% for(let result of data) { %> <% if(result.title !== '') {%>

<form action="/books/update" method="post">
  <div class="row d-flex justify-content-center">    
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card" style="width: 22rem">
        <img
          src="<%= result.img_url %>"
          class="card-img-top"
          alt="No Available Picture"
          height="430"
        />

        <div class="card-body">
          <h5 class="card-title"><%= result.title %></h5>
          <p class="card-text"><%= result.author %></p>
          <p class="card-text"><%= result.first_publish_year %></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <u><h1><%= result.title %></h1></u>
      <input name="book[id]" type="hidden" value="<%= result.id %>" />
      <small>
        <p class="fw-light">DATE READ : <%= result.read_date %>.</p>

        <p class="fw-light">
          HOW I STRONGLY RECOMMEND IT: <%= result.rating %>/10
        </p>
      </small>
      <br />

      <p><%= result.notes %></p>
      <div class="mb-3 d-flex justify-content-left gap-2">
         <button class="btn btn-warning" type="submit">Update</button>
    </form>      
         <form action="/books/delete" method="post">
           <input name="book[id]" type="hidden" value="<%= result.id %>" />
           <button class="btn btn-outline-secondary" type="submit">Remove</button>
         </form>
      </div>
    </div>
  </div>


<br />

<% } %> <% } %>
